azul = #22BCE0
gris_oscuro = #444
naranja = #dd4f24
body
	background #e8e8e8
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	padding 0.5em
	position relative

	.logo
		border-right 1px solid azul
		float left
		width 60px

		img
			width 60px

	.titular
		margin 0 80px 0 70px

		.filtro
			color azul
			font-size 14px
			font-style italic
			font-weight bold
			text-decoration none

		.publicar
			background naranja
			color #fff
			float right
			padding .2em .5em
			text-style italic
			text-decoration none

	.usuario
		position absolute
		right 10px
		top 10px

		.avatar
			margin 0 1.1em 0 0
			position relative

			img
				border-radius 50%
				width 50px

		.flechita
			background naranja
			color #fff
			display block
			padding 4px
			position absolute
			right 0
			text-decoration none
			top 10px

nav
	background azul
	border-left 15px solid #fff
	position relative
	
	:before
		border-bottom 20px solid transparent
		border-left 7px solid #fff
		border-top 20px solid transparent
		content ""
		left 0
		position absolute
		top 0
	
	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0

		li
			display inline-block

			a
				color #fff
				display block
				margin 0 .5em
				padding 0 .2em
				text-decoration none

			a:hover
					background rgba(0,0,0,0.1)